.text-center{
    text-align: center;
    background: linear-gradient(rgb(7, 168, 168),aqua),rgb(7, 168, 168);
    border-radius: 20pc;
    box-shadow: 10px 10px 15px rgba(23, 61, 66, 0.623);
}
/* .bg-red{
    background-color: red;
} */

.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
} 
.flex-col{
    flex-direction: column;
}

.item-utils{
    align-items: center;
}